<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bored Game Generator</title>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>
  <div>
    <header>
      <h1 class="title is-1">
        Bored Game Generator
      </h1>








<nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          {{#if logged_in}} 
          <a href="/favorites" class="button is-primary" id="favorite">Favorites</a> |
          <a href="/" class="button is-primary" id="logout">Logout</a> 
          {{else}}
          <a href="/login" class="button is-light">Login</a>
          {{/if}}


        </div>
      </div>
    </div>
  </div>
</nav>



    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
    <script src="/js/favorite.js"></script>
</body>

</html>