<div class="container">
    <!-- Welcome Message -->
    <section class="hero welcome">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Welcome, {{user.name}}!</h1>
        </div>
      </div>
    </section>
    <!-- Game Cards Section -->
    <section class="section">
      <div class="game-list">
        {{#each user.games as |game|}}
            {{> gameCard game=game}}
        {{/each}}
      </div>
    </section>
  </div>