
<div class="columns is-multiline">
  <div class="column is-one-third">
    <div class="card">
            <div class="card-image">
        <figure class="image is-4by3">
          <a href="/moods?mood=SUS">
          <img
            src="https://i.ytimg.com/vi/Nf6r09N6_8M/maxresdefault.jpg"
            alt="Man standing in front of hands with guns in them, with the question spy? over his head"
          />
          </a>
        </figure>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://i.ytimg.com/vi/Nf6r09N6_8M/maxresdefault.jpg"
                alt="Man standing in front of hands with guns in them, with the question spy? over his head"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">SUS</p>
          </div>
        </div>
        <div class="content">
Step into a world of intrigue and deception where nothing is as it seems. This set of games immerses players in a high-stakes environment of spies and schemers, where every move is shrouded in suspicion and every interaction could be a façade.
        </div>
      </div>
    </div>
  </div>
  <!-- Repeat for other cards -->

  <div class="column is-one-third ">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="/moods?mood=Spoopy">
          <img
            src="https://img.goodfon.com/original/6000x3375/1/66/until-dawn-horror-game.jpg"
            alt="A man and woman stand in a dimly lit room"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://img.goodfon.com/original/6000x3375/1/66/until-dawn-horror-game.jpg"
                alt="A man and woman stand in a dimly lit room"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Spoopy</p>
          </div>
        </div>
        <div class="content">
Enter a chilling world where every shadow hides a sinister secret. This set of games plunges players into eerie, unsettling environments where fear and suspense reign supreme. Whether you're exploring haunted landscapes, solving chilling mysteries, or surviving terrifying encounters, the atmosphere is thick with dread and anticipation.
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="/moods?mood=Heroic">
          <img
            src="https://www.gamespot.com/a/uploads/scale_medium/1601/16018044/4297894-marvelrivals.jpg"
            alt="A large amount of heroes facing off against a large amount of villains"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://www.gamespot.com/a/uploads/scale_medium/1601/16018044/4297894-marvelrivals.jpg"
                alt="A large amount of heroes facing off against a large amount of villains"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Heroic</p>
          </div>
        </div>
        <div class="content">
Immerse yourself in a world where bravery and heroism define the journey. This set of games invites players into an epic realm filled with grand adventures and noble quests. Whether you're navigating vast virtual landscapes, strategizing on a game board, or embarking on a cooperative mission, the atmosphere is charged with a sense of purpose and valor.
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="/moods?mood=Survival">
          <img
            src="https://assetsio.gnwcdn.com/escape-from%20tarkov-single-player-2.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp"
            alt="A picture of the POV of a survivor with a plane crash in front of them and woods surrounding them"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://assetsio.gnwcdn.com/escape-from%20tarkov-single-player-2.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp"
                alt="A picture of the POV of a survivor with a plane crash in front of them and woods surrounding them"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Survival</p>
          </div>
        </div>
        <div class="content">
Enter a relentless world where survival is the ultimate test of skill and resolve. This set of games thrusts players into intense, high-stakes environments where every moment counts and danger is ever-present. Whether you're navigating treacherous terrains, battling hostile forces, or scavenging for scarce resources, the atmosphere is one of constant tension and urgency.
        </div>
      </div>
    </div>
  </div>
   <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="{{Happily-Self-Sufficient}}"></a>
          <a href="/moods?mood=Happily-Self-Sufficient">
          <img
            src="https://s.yimg.com/ny/api/res/1.2/1V76isX0LfG6bq6KI5f0HQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNg--/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2020-04/cd5ae190-7437-11ea-8ac5-3a947ff2a86b"
            alt="Hand holding game controller"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://s.yimg.com/ny/api/res/1.2/1V76isX0LfG6bq6KI5f0HQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNg--/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2020-04/cd5ae190-7437-11ea-8ac5-3a947ff2a86b"
                alt="Hand holding game controller"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Happily Self-Sufficient</p>
          </div>
        </div>
        <div class="content">
Step into a world crafted for a solo adventure where the experience is uniquely yours. This set of games is designed to immerse you completely in a journey that unfolds at your own pace, allowing you to delve into rich narratives, explore intricate environments, and tackle challenges entirely on your own.
        </div>
      </div>
    </div>
  </div>


   <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="{{Inquisitive}}"></a>
          <a href="/moods?mood=Inquisitive">
          <img
            src="https://www.safekidgames.com/home/wp-content/uploads/2021/06/puzzle-games.svg"
            alt="Orange box wiht a small puzzle on it that reads puzzle games"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://www.safekidgames.com/home/wp-content/uploads/2021/06/puzzle-games.svg"
                alt="Orange box wiht a small puzzle on it that reads puzzle games"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Inquisitive</p>
          </div>
        </div>
        <div class="content">
Dive into a world of intellect and ingenuity with this set of games dedicated to trivia and puzzle solving. Whether you’re testing your knowledge, unraveling complex riddles, or piecing together intricate challenges, the experience is designed to stimulate your mind and provide endless mental engagement.
        </div>
      </div>
    </div>
  </div>
</div>