<h1 class="title is-3 info has-text-centered">Games for Mood: {{mood}}</h1>

{{#if games.length}}
<div class="game-list">
  {{#each games}}
  {{> gameCard}}
  {{/each}}
</div>
{{else}}
<p>No games found for this mood.</p>
{{/if}}

<a href="/">Back to Homepage</a>